meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Gestión de información de la calidad
meta(meta name="description" content="Las inspecciones de calidad requieren la medición de características propias de la calidad, así como de los componentes y materiales con los que se elabora la producción. Los sistemas de inspección permiten confirmar la eficacia del sistema de control de calidad y la tecnología mejora este proceso al interior de la empresa. ")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")