h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span 290601232-05. Documentar el proceso de auditoría en línea de producción con base en los resultados obtenidos.