.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Atributo: 
            | cualquier característica de calidad que pueda ser clasificada de forma cumple o no cumple, funciona o no funciona, pasa o no pasa, a efectos de control del proceso será considerado como un atributo. Barbosa (2016, p. 33).
        hr
        p
            strong.mr-2 Blockchain:
            | información organizada en bloques y entrelazadas en forma de cadenas, encriptada con el fin que nunca se pierda asegurando su seguridad.
        hr
        p
            strong.mr-2 Capacidad de un proceso:
            | es la aptitud de producir una prenda que cumpla con los requisitos determinados en los límites.
