.container
    .header-ecored
        h1 Introducción
    .jumbotron.bg-white 
        img.img-a(src="assets/images/pages/ilustraciones/img1.jpg", alt="").img-fluid
        .caja-azul
            p En los últimos años se han venido desarrollando herramientas tecnológicas, las cuales han mejorado en gran medida la gestión de las diferentes áreas de las empresas. El crecimiento vertiginoso en el uso de las tecnologías de la información y comunicación (TIC), cada vez más cerca del alcance de todos, no solo de grandes empresas sino también de microempresas hacen más eficiente este proceso y generan mayor confiabilidad en los reportes de inspección. 
            p La sistematización del manejo de la información es una tarea, que debe ser organizada y coordinada con el equipo de personal de la empresa, con el fin de lograr las metas propuestas, por lo tanto, es necesario reconocer la importancia de la tecnología en el manejo de la información y capacitar a todo el personal en el manejo de dichas herramientas.
        section.mt-5 