.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

                tr
                    td Gutiérrez Hernández, S. (2020). Caso 1 fracción de unidades no conformes (carta p) 
                    td Archivo (Word y Excel) 
                    td 
                        a(href="media/documentos/Caso1.zip", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> decargar
 

                tr
                    td Gutiérrez Hernández, S. (2020). Caso 2 numero de unidades no conformes (carta np) 
                    td Archivo (Word y Excel) 
                    td 
                        a(href="media/documentos/Caso2.zip", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> decargar
 

                tr
                    td Gutiérrez Hernández, S. (2020). Caso 3 numero de no conformidades por unidad (carta c)  
                    td Archivo (Word y Excel) 
                    td 
                        a(href="media/documentos/Caso3.zip", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> decargar
 

                tr
                    td Minitab Brochure.
                    td Folleto
                    td 
                        a(href="media/documentos/Minitab-Brochure_ES.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Ver